<%- include('partials/header') %> 
    <title>Error</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body{
        background-image: url("");
        background-color: #112259;
        text-align: center;
        color: #112259;

    }

      h1{
          
          font-size: 250px;
          font-weight: bolder;
          text-align: center;
      }

      .box{
          /* background-color: #fff; */
          background-color: aliceblue;
      background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
          width: 70%;
          height: 80%;
          border: none;
          box-shadow: 5px 5px 5px #bbb;
          border-radius: 5px;
          

      }

      .error{
          font-size: 60px;
          font-weight: bold;
          
      }

      .link{
        font-size: 25px;
        font-weight: bold;
        border-top: 2px solid #bbb;
        box-shadow: 2px 5px 5px #bbb;
      }
      
    </style>

  </head>
  <body class="">
      <div class="container mt-5 box">
        <div class="d-flex justify-content-center ">
            <div>
              <p class="error">Work in Progess!!!</p>
              <h1>404</h1>
              <p class="error">Page Not found</p>
              <p class="link"><a href="/dashboard">Click Here</a> to redirect Homepage.</p>
            </div>
                
  
        </div>
      </div>
      
    
<%-include('partials/footer')%>
