<%-include('partials/header')%>
    <title>Home</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .mob{
        border: 5px solid black;
        border-radius: 5px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .collb{
        color: #112559;
        text-shadow: 3px 3px 5px #bbb;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css\homestyle.css" rel="stylesheet">
    
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Smart Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="none")><img height="100%" width="100%" src="https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176/1900x1080"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="fw-bolder">Ab Bussiness Handle krna hua Easy!</h1>
            <h2 class="fw-bold ">Grow your Business with Us</h2>
            <br>
            <p class="fw-bold">Make your life easy and stress-free by Manage Your Store on your Finger-Tip</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Sign In Today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="none"><img height="100%" width="100%" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80/1900x1080"></rect></svg>
      
        <div class="container">
          <div class="carousel-caption">
            <h1 class="collb fw-bolder">Digital India ka Digital Store Manager</h1>
            <h3 class="fw-bold">Empowering MSMEs with digital solutions</h3>

            <br>
            <p class="fw-bold" style="color: hwb(0 100% 0%);">India’s Best Accounting and Store Managing Web Application</p>
            <p><a class="btn btn-lg btn-primary disabled" href="/">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="none"><img width="100%" height="100%" src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1106&q=80/1900x1080"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="fw-bolder collb">We're here</h1>
            <h1  class="fw-bolder collb">for the bussiness</h1>
            <br>
            <p class="fw-bold">As the world moves online, we at Smart Manager are making sure the small and medium businesses are part of this digital revolution too. With our range of Web Application we aim to empower these merchants with the internet and make doing business easy for them.</p>
            <p><a class="btn btn-lg btn-primary disabled" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes -->


  <div class="container marketing">

    <div class="row" style="text-align: center;" >
      <div class="col-lg-3">
        <img class="feat-icon" src="https://cdn-icons-png.flaticon.com/512/3039/3039372.png" width="140px" height="140px"> 
        <h2>100%</h2>
        <h3>Safe and Secure</h3> 

      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <img class="feat-icon" src="https://cdn-icons-png.flaticon.com/512/2683/2683274.png" width="140px" height="140px"> 
        
        <h2>Manage</h2>
        <h3>Account Statement</h3>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="feat-icon" src="https://cdn-icons-png.flaticon.com/512/3596/3596029.png" width="140px" height="140px"> 
        <h2><%= reg %> </h2>
        <h3>Registered Stores</h3>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="feat-icon" src="https://cdn-icons-png.flaticon.com/512/3039/3039372.png" width="140px" height="140px"> 
        <h2>Quick</h2>
        <h3>Easy Billing</h3>
      </div>
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-bolder text-decoration-underline">Dashboard<span class="text-muted"></span></h2>
          <p class="lead my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda nulla itaque nobis iusto numquam. Sint ad voluptatibus atque impedit iure minima magni! Quos nulla repellendus magni sunt. Corrupti magni quisquam ad!</p>
        </div>
        <div class="col-md-5">
          <img src="https://cdn-icons-png.flaticon.com/512/3408/3408591.png"  width="450" height="350">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette ">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-bolder text-decoration-underline">Quick and Easy Billing<span class="text-muted"></span></h2>
          <p class="lead my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum consectetur quidem tenetur expedita deleniti molestiae eos autem, corrupti, corporis distinctio eveniet obcaecati. Dolorem non ab et quia quae deleniti, sunt distinctio qui sequi eos libero error exercitationem officiis expedita minus, eius molestias debitis cum obcaecati quis totam officia incidunt eum!</p>
        </div>
        <div class="col-md-5">
          <img src="https://cdn-icons.flaticon.com/png/512/3160/premium/3160515.png?token=exp=1655272509~hmac=3ac07712216045b3f20b71d7ee7f801b"  width="450" height="350">
          
        </div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-bolder text-decoration-underline">Product Management System<span class="text-muted"></span></h2>
          <p class="lead my-3 font-family-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellendus sequi delectus dolor perspiciatis tempore amet ea voluptatum fuga fugiat libero saepe et est, commodi, quas aliquid aperiam eius similique mollitia, veniam iure consequuntur! Exercitationem ipsa amet numquam cupiditate optio!
          </p>
        </div>
        <div class="col-md-5">
          <img src="https://cdn-icons-png.flaticon.com/512/2674/2674505.png"  width="450" height="350">

        </div>
      </div>
    </div>
    

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <div class="container marketing align-items-center">
    <h2 class="mb-4 py-1 fw-bolder" style="text-align: center;background-color: #112559; color: #fff;">Developed By</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row " style="text-align: center;" >
      <div class="col-lg-4">
        <img src="https://cdn-icons-png.flaticon.com/512/6997/6997662.png" alt="Developer" height="140px" width="140px">

        <h2>Shabnam</h2>
        <p>Student At I.K.G Punjab Technical University<br>B.Tech Computer Science 3rd year</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 align-items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/4128/4128176.png" alt="Developer" height="140px" width="140px">

        <h2>Aman Kumar Sahani</h2>
        <p>Student At I.K.G Punjab Technical University<br>B.Tech Computer Science 3rd year</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/4139/4139981.png" alt="Developer" height="140px" width="140px">

        <h2>Vishal Sharma</h2>
        <p>Student At I.K.G Punjab Technical University<br>B.Tech Computer Science 3rd year</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <hr class="featurette-divider">

  <!-- FOOTER -->
  <div class="container fcontainer">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2019–2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</main>
<footer>
  <p>
      Created with <i class="fa fa-heart"></i>  by
      <a target="_blank" href="">Team Web-Chef</a>
      - Manage Your Shop at Your Finger-Tip
      <a target="_blank" href="/">here</a>.
  </p>
</footer>



<%-include('partials/footer')%>
